[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
celery = "*"
corepluslib = "*"
django-allauth = "*"
django-cleanup = "*"
django-celery-beat = "*"
django-celery-results = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"
django-environ = "*"
django-filter = "*"
django-redis = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
djangorestframework-api-key = "*"
drf-spectacular = "*"
drf-spectacular-sidecar = "*"
easy-thumbnails = "*"
gunicorn = "*"
psycopg2 = "*"

[dev-packages]
black = "*"
coverage = "*"
docutils = "*"
flake8 = "*"
flake8-debugger = "*"
ipython = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.8"
